<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shili.lu.image.dao.ImageMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.shili.lu.image.model.ImageMaterial" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="image_id" property="imageId" jdbcType="BIGINT" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
    <result column="height" property="height" jdbcType="INTEGER" />
    
    <result column="favc" property="favc" jdbcType="INTEGER" />
    <result column="zanc" property="zanc" jdbcType="INTEGER" />
    <result column="repc" property="repc" jdbcType="INTEGER" />
    <result column="ava" property="ava" jdbcType="VARCHAR" />
    <result column="unm" property="unm" jdbcType="VARCHAR" />
    <result column="albid" property="albid" jdbcType="VARCHAR" />
    <result column="albnm" property="albnm" jdbcType="VARCHAR" />
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, source, create_time, update_time, image_id, delete_flag,height,
   favc, zanc,repc,ava,unm,albid,albnm
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from image_material
    where id = #{id,jdbcType=BIGINT}
  </select>
  
    <select id="findImageMaterial" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from image_material
    where delete_flag = 0
  </select>
  
  
   <select id="findPageImageMaterial" resultMap="BaseResultMap" parameterType="com.shili.lu.image.dto.ImageNewsDto" >
    select 
    <include refid="Base_Column_List" />
    from image_material
    where delete_flag = 0
    
    <if test="title!=null and title!=''">
		and title like concat('%',#{title},'%')
	</if>
	<if test="createTimeStart!=null and createTimeStart!=''">
		<![CDATA[and DATE_FORMAT(create_time,'%Y-%m-%d')>=#{createTimeStart}]]>
	</if>
	<if test="createTimeEnd!=null and createTimeEnd!=''">
		<![CDATA[and DATE_FORMAT(create_time,'%Y-%m-%d')<=#{createTimeEnd}]]>
	</if>
	<if test="param!=null and param!=''">
		${param}
	</if>
	
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from image_material
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyProperty="id" useGeneratedKeys="true" parameterType="com.shili.lu.image.model.ImageMaterial" >
    insert into image_material (id, title, source, 
      create_time, update_time, image_id, 
      delete_flag)
    values (#{id,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{imageId,jdbcType=BIGINT}, 
      #{deleteFlag,jdbcType=INTEGER})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.shili.lu.image.model.ImageMaterial" >
    update image_material
    set title = #{title,jdbcType=VARCHAR},
      source = #{source,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      image_id = #{imageId,jdbcType=BIGINT},
      delete_flag = #{deleteFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>