
.l-taskbar {
    background-image: url("../images/dialog/taskbar.png");
    background-repeat: repeat-x;
    bottom: -36px;
    display: none;
    height: 36px;
    left: 0;
    line-height: 36px;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 11000;
}
.l-taskbar-tasks {
    margin-top: 2px;
    width: 100%;
}
.l-taskbar-task {
    background-repeat: repeat-x;
    cursor: pointer;
    float: left;
    height: 26px;
    line-height: 26px;
    margin: 2px;
    overflow: hidden;
    position: relative;
}
.l-taskbar-task {
    background-image: url("../images/dialog/taskbar-task.gif");
    border: 1px solid #676f7f;
}
.l-taskbar-task-icon {
    background: url("../images/dialog/taskicon.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 25px;
    left: 5px;
    overflow: hidden;
    position: absolute;
    top: 3px;
    width: 24px;
}
.l-taskbar-task-content {
    color: White;
    font-weight: bold;
    margin-left: 27px;
    margin-right: 10px;
}
.l-taskbar-task-over {
    background-position: 0 -30px;
    border-color: #a7adb5;
}
.l-taskbar-task-active {
    background-position: 0 -60px;
    border-color: #a2a8af;
}
.l-taskbar {
}
.l-taskbar-top {
    background-color: White;
    border-bottom: 1px solid #687079;
    bottom: auto;
    padding-bottom: 1px;
    top: 0;
}
.l-taskbar-top {
}
.l-messagebox {
    background: none repeat scroll 0 0 #f2f8ff;
    border-bottom: 1px solid #82bcd8;
    left: 100px;
    position: absolute;
    top: 100px;
    width: 300px;
    z-index: 9001;
}
.l-messagebox-title, .l-messagebox-close, .l-messagebox-close-over, .l-messagebox-btn, .l-messagebox-btn-l, .l-messagebox-btn-r, .l-messagebox-lt, .l-messagebox-rt {
    background-image: url("../images/dialog/box.gif");
    background-repeat: no-repeat;
}
.l-messagebox .l-messagebox-title {
    background-repeat: repeat-x;
}
.l-messagebox-title {
    background-position: 0 -99px;
    color: White;
    font-weight: bold;
    height: 21px;
    line-height: 21px;
}
.l-messagebox-image {
    background: url("../images/dialog/box-icons.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 35px;
    left: 15px;
    overflow: hidden;
    position: absolute;
    top: 30px;
    width: 35px;
}
.l-messagebox-image-donne {
    background-position: 0 0;
}
.l-messagebox-image-error {
    background-position: 0 -115px;
}
.l-messagebox-image-question {
    background-position: 0 -70px;
    height: 45px;
}
.l-messagebox-image-warn {
    background-position: 0 -35px;
}
.l-messagebox-title-inner {
    padding-left: 10px;
}
.l-messagebox-content {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 10px;
}
.l-messagebox-buttons {
    height: 30px;
    margin-top: 4px;
    position: relative;
    text-align: center;
}
.l-messagebox-buttons-inner {
    margin-left: 10px;
}
.l-messagebox-close {
    background-position: -8px -24px;
    cursor: pointer;
    height: 13px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 13px;
}
.l-messagebox-close-over {
    background-position: -8px -37px;
}
.l-messagebox-lt {
    background-position: 0 -48px;
    height: 3px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 3px;
    z-index: 12;
}
.l-messagebox-rt {
    background-position: -4px -48px;
    height: 3px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 3px;
    z-index: 12;
}
.l-messagebox-l {
    background: none repeat scroll 0 0 #82bcd8;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 1px;
}
.l-messagebox-r {
    background: none repeat scroll 0 0 #82bcd8;
    height: 100%;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
.l-messagebox-btn {
    background: url("../images/dialog/box.gif") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 24px;
    line-height: 24px;
    margin-left: 5px;
    overflow: hidden;
    position: relative;
    width: 70px;
}
.l-messagebox-btn-inner {
    text-align: center;
}
.l-window-mask {
    background: none repeat scroll 0 0 #777;
    display: none;
    font-size: 1px;
    height: 100%;
    left: 0;
    opacity: 0.25;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9000;
}
.l-window-mask-nobackground {
    display: none;
    font-size: 1px;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9000;
}
.l-window-dragging {
    opacity: 0.8;
}
.l-window-dragging .l-window-content {
    visibility: hidden;
}
.l-window {
    background: none repeat scroll 0 0 #f5f8f9;
    border: 1px solid #afccf1;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 9100;
}
.l-window-header {
    background: url("../images/panel/panel-header.gif") repeat-x scroll 0 0 #e2edfe;
    color: #183152;
    font-weight: bold;
    height: 25px;
    line-height: 24px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
}
.l-window-header-buttons {
    height: 20px;
    position: absolute;
    right: 3px;
    top: 3px;
}
.l-window-toggle {
    background: url("../images/panel/panel-tools.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px;
    overflow: hidden;
    width: 16px;
}
.l-window-min {
    background: url("../images/panel/panel-tools.gif") repeat scroll -16px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px;
    overflow: hidden;
    width: 16px;
}
.l-window-max {
    background: url("../images/panel/panel-tools.gif") repeat scroll -16px -16px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px;
    overflow: hidden;
    width: 16px;
}
.l-window-regain {
    background: url("../images/panel/panel-tools.gif") repeat scroll -32px -16px rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px;
    overflow: hidden;
    width: 16px;
}
.l-window-toggle-close {
    background-position: 0 -16px;
}
.l-window-close {
    background: url("../images/panel/panel-tools.gif") repeat scroll -32px 0 rgba(0, 0, 0, 0);
    cursor: pointer;
    float: left;
    height: 16px;
    margin-left: 5px;
    overflow: hidden;
    width: 16px;
}
.l-window-content {
    overflow: hidden;
    width: 100%;
}
.l-window-content-scroll {
    overflow: scroll;
}
.l-window-content iframe {
    border: medium none;
    height: 100%;
    width: 100%;
}
.l-dialog {
    /*border: 1px solid #bed5f3;*/
    border-radius: 5px;
    box-shadow: 0 1px 6px rgba(99, 99, 99, 0.3);
    font-size: 12px;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10000;
}
.l-dialog table {
    table-layout: auto;
}
.l-dialog-fixed {
    bottom: -100px;
    position: fixed;
    right: 0;
}
.l-dialog-table {
}
.l-dialog-body {
    overflow: hidden;
    position: relative;
}
.l-dialog {
    font-size: 12px;
    margin: 0;
    padding: 0;
}
.l-dialog td, .l-dialog tr, .l-dialog td div {
    font-size: 12px;
}
.l-dialog-cc {
    background: none repeat scroll 0 0 white;
}
.l-dialog-tl, .l-dialog-tr, .l-dialog-bl, .l-dialog-br, .l-dialog-cl, .l-dialog-cr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    width: 0;
}
.l-dialog-tl, .l-dialog-tc, .l-dialog-tr {
    height: 26px;
}
.l-dialog-bl, .l-dialog-bc, .l-dialog-br {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 0;
    margin: 0;
    padding: 0;
}
.l-dialog-tl {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f5f5f5;
}
.l-dialog-tc {
    background: -moz-linear-gradient(center top , #008ECA, #008EC8) repeat;
    background:-ms-linear-gradient(center top , #008eca, #008ec8) repeat;
    background: linear-gradient(center top , #008ECA, #008EC8) repeat;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#008eca), to(#008ec8));
    font-size: 14px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}
.l-dialog-tr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #f5f5f5;
}
.l-dialog-bl {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-dialog-bc {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-dialog-br {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-dialog-cl {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-dialog-cr {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-dialog-cl {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.l-dialog-cl, .l-dialog-cc, .l-dialog-cr {
    border-top: 1px solid #bed5f3;
}
.l-dialog-winbtns {
    height: 16px;
    position: absolute;
    right: 0;
    top: 4px;
}
.l-dialog-winbtn {
    /*background: url("../images/dialog/dialog-winbtns.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);*/
    cursor: pointer;
    float: right;
    font-weight: bold;
    color: #fff;
    height: 16px;
    margin-right: 4px;
    overflow: hidden;
    width: 17px;
}
.l-dialog-close {
    /*background-position: -85px 0;*/
   background: url(../images/dialog/close.jpg) no-repeat;
}
.l-dialog-close-over {
    /*background-position: -85px -16px;*/
}
.l-dialog-close-disabled {
    background-position: -24px -32px;
    cursor: default;
}
.l-dialog-min {
    background-position: 0 0;
}
.l-dialog-min-over {
    background-position: 0 -16px;
}
.l-dialog-min-disabled {
    background-position: 0 -32px;
    cursor: default;
}
.l-dialog-max {
    background-position: -17px 0;
}
.l-dialog-max-over {
    background-position: -17px -16px;
}
.l-dialog-max-disabled {
    background-position: -17px -32px;
    cursor: default;
}
.l-dialog-recover {
    background-position: -34px 0;
}
.l-dialog-recover-over {
    background-position: -34px -16px;
}
.l-dialog-recover-disabled {
    background-position: -34px -32px;
    cursor: default;
}
.l-dialog-collapse {
    background-position: -51px 0;
}
.l-dialog-collapse-over {
    background-position: -51px -16px;
}
.l-dialog-collapse-disabled {
    background-position: -51px -32px;
    cursor: default;
}
.l-dialog-extend {
    background-position: -68px 0;
}
.l-dialog-extend-over {
    background-position: -68px -16px;
}
.l-dialog-extend-disabled {
    background-position: -68px -32px;
    cursor: default;
}
.l-dialog-tc-inner {
    height: 26px;
    line-height: 26px;
    position: relative;
    width: 100%;
}
.l-dialog-title {
    /*color: #000;*/
   color:#fff;
    font-weight: 700;
    padding-left: 3px;
    padding-right: 20px;
    padding-top: 0;
    text-align: left;
    text-shadow: none;
}
.l-dialog-content {
    overflow: auto;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-top: 14px;
}
.l-dialog-content-noimage {
    padding-bottom: 10px;
    padding-left: 6px;
    padding-top: 10px;
}
.l-dialog-content-dragging iframe {
}
.l-dialog-win .l-dialog-content {
}
.l-dialog-content-nopadding {
    padding: 0;
}
.l-dialog-content iframe {
    border: medium none;
    height: 100%;
    width: 100%;
}
.l-dialog-image {
    background: url("../images/dialog/dialog-icons.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: none;
    height: 48px;
    left: 10px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    width: 48px;
}
.l-dialog-image-donne {
    background-position: 0 0;
}
.l-dialog-image-error {
    background-position: 0 -48px;
}
.l-dialog-image-question {
    background-position: 0 -144px;
}
.l-dialog-image-warn {
    background-position: 0 -96px;
}
.l-dialog-image-loading {
    background: url("../images/common/loading2.gif") no-repeat scroll center center white;
    height: 28px;
    width: 28px;
}
.l-dialog-buttons {
    /*border-top: 1px solid #d3e3f7;*/
    height: 30px;
    line-height: 30px;
    background: #F0F0F0;
    /*margin-bottom: 2px;*/
    margin-top: 11px;
    overflow: hidden;
    padding-top: 6px;
    position: relative;
}
.l-dialog-buttons-inner {
}
.l-dialog-btn-l, .l-dialog-btn-r {
    display: none;
}
.l-dialog-buttons {
    border-radius: 0 0 2px 2px;
    border-top: 1px solid #ececec;
    padding: 4px 8px;
    text-align: right;
    white-space: nowrap;
}
.l-dialog-btn {
    /*background: -moz-linear-gradient(center top , #ffffff, #f4f4f4) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
   background-color: #00A2C9;
    /*border: 1px solid #c1c1c1;*/
   border: 1px solid #3894C3;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font: 12px 宋体b8b体;
    height: 24px;
    margin-left: 10px;
    vertical-align: middle;
}
.l-dialog-btn-no {
    /*background: -moz-linear-gradient(center top , #ffffff, #f4f4f4) repeat scroll 0 0 rgba(0, 0, 0, 0);*/
   background-color: #FF5454;
    /*border: 1px solid #c1c1c1;*/
   border: 1px solid #CA3A3A;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font: 12px 宋体b8b体;
    height: 24px;
    margin-left: 10px;
    vertical-align: middle;
}
.l-dialog-btn-highlight {
    background: -moz-linear-gradient(center top , #4994be, #337fa9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #3279a0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    color: #fff;
    font-weight: bold;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.22);
}
.l-dialog-btn:hover {
    //background: none repeat scroll 0 0 #f4f4f4;
    //color: #555;
}
.l-dialog-btn-highlight:hover {
    background: none repeat scroll 0 0 #3286b4;
    color: #fff;
}
.l-dialog-content-frame {
    overflow: hidden;
}
.l-dialog-btn {
    cursor: pointer;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    width: 70px;
}
.l-dialog-btn-no {
    cursor: pointer;
    float: right;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    overflow: hidden;
    position: relative;
    width: 70px;
}
.l-dialog-btn-inner {
    text-align: center;
}
.l-dialog-inputtext {
    border: 1px solid #0099cc;
    height: 25px;
    line-height: 23px;
    width: 280px;
}
.l-dialog-textarea {
    border: 1px solid #0099cc;
    height: 80px;
    width: 280px;
}
.l-messagebox-btn {
    background-position: 0 0;
}
.l-messagebox-btn-over {
    background-position: 0 -51px;
}
.l-messagebox-btn-l {
    background-position: 0 -24px;
    height: 24px;
    left: 0;
    position: absolute;
    top: 0;
    width: 4px;
}
.l-messagebox-btn-over .l-messagebox-btn-l {
    background-position: 0 -75px;
}
.l-messagebox-btn-r {
    background-position: -4px -24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
}
.l-messagebox-btn-over .l-messagebox-btn-r {
    background-position: -4px -75px;
}
.l-selectorwin .l-dialog-content {
    overflow: hidden;
    padding: 0;
}
.l-selectorwin .l-dialog-content .l-form {
    background: none repeat scroll 0 0 #eaf2ff;
    border-bottom: 1px solid #aecaf0;
    margin: 0;
    padding: 2px;
}
.l-selectorwin .l-dialog-buttons {
    margin-top: 0;
}
.l-selectorwin .l-panel {
    border: 0 none;
}
